{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
    <h1>User dashboard</h1>
    <br>
    <div class="card">
        <h3 class="card-header">User data:</h3>
        <div class="card-body">

        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Value</th>
                    <th scope="col">Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Last login</td>
                    <td>{{user.last_login}}</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Date joined</td>
                    <td>{{user.date_joined}}</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Username</td>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th scope="row">4</th>
                    <td>Email</td>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <th scope="row">5</th>
                    <td>First name</td>
                    <td>{{user.first_name}}</td>
                </tr>
                <tr>
                    <th scope="row">6</th>
                    <td>Last name</td>
                    <td>{{user.last_name}}</td>
                </tr>
                <tr>
                    <th scope="row">7</th>
                    <td>Daily points quota</td>
                    <td>{{user.userprofile.daily_points}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <br>
    <div class="card">
        <h3 class="card-header">Fridges and products:</h3>
        <div class="card-body">

            <table class="table table-striped table-bordered table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Model</th>
                        <th scope="col">Count</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td>Products</td>
                        <td>{{ product_count }}</td>
                        <td>
                            <form action="{% url 'product_list' %}">
                                <button type="submit" class="btn btn-secondary">See all products</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">2</th>
                        <td>Fridges</td>
                        <td>{{ fridge_count }}</td>
                        <td>
                            <form action="{% url 'fridge_list' %}">
                                <button type="submit" class="btn btn-secondary">See all fridges</button>
                            </form>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td>Recipes</td>
                        <td>{{ recipe_count }}</td>
                        <td>
                            <form action="{% url 'recipe_list' %}">
                                <button type="submit" class="btn btn-secondary">See all recipes</button>
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
       </div>
    </div>
    <br>
    <div class="card">
        <h3 class="card-header">User options</h3>
        <div class="card-body">
            <h5 class="card-title">Change your password</h5>
            <p class="card-text">Set a new password for your account.</p>
            <a href="{% url 'change_password' %}" class="btn btn-primary">Change password here</a>
        </div>
        <div class="card-body">
            <h5 class="card-title">Update your profile</h5>
            <p class="card-text">Set a new password for your account.</p>
            <a href="{% url 'update_profile' %}" class="btn btn-primary">Update profile here</a>
        </div>
    </div>
    <br/>
    {% else %}
        {% include 'no_access_without_login_info.html' %}
    {% endif %}
{% endblock %}
