{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>USER DASHBOARD PAGE</h1>

        <h2>Information:</h2>
        <br>
        <table class="table table-striped table-bordered table-hover">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Model</th>
              <th scope="col">Count</th>
              <th scope="col">Details</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Products</td>
              <td>{{ product_count }}</td>
              <td>
                  <form action="{% url 'product_list' %}">
                      <button type="submit" class="btn btn-secondary">See all products</button>
                  </form>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Fridges</td>
              <td>{{ fridge_count }}</td>
              <td>
                  <form action="{% url 'fridge_list' %}">
                      <button type="submit" class="btn btn-secondary">See all fridges</button>
                  </form>
              </td>
            </tr>
          </tbody>
        </table>

        <br/>
    {% else %}
        {% include 'no_access_without_login_info.html' %}
    {% endif %}
{% endblock %}
