{% extends 'base.html' %}
{% block content %}
	{% if user.is_authenticated %}
		<h1>PRODUCTS PAGE</h1>
		{% if products|length > 0 %}
			<h3>Number of products used for search: {{ products|length  }}</h3>
			<h2>Products used for search:</h2>
				<ul>
					{% for product in products %}
						<li>{{ product.name }} </li>
					{% endfor %}
				</ul>

			<hr>
		{% include 'recipe/recipe_list_paginator.html' %}

			{% for recipe in recipes %}

				<div class="card">
					<div class="card-header">
						<strong><h2>{{ recipe.title }}</h2></strong>
						<span class="badge badge-success float-left">Likes: {{ recipe.likes }}</span>
					</div>
					<div class="card-body">
						<div class="recipe-container">
            				<div class="ingredients">
								<h4>Used Ingredients:</h4>
									<ul>
										{% for ingredient in recipe.usedIngredients %}
										<li><strong>{{ ingredient.original }}</strong> </li>
										{% endfor %}
									</ul>
								<h4>Missed Ingredients:</h4>
									<ul>
										{% for ingredient in recipe.missedIngredients %}
											<li><strong>{{ ingredient.original }}</strong></li>
										{% endfor %}
									</ul>
								<h4>Details:</h4>
									<p>
										<a href="{{ recipe.recipe_link }}" target="_blank">Check the details</a>
									</p>
							</div>
							<div class="recipe_img" >
								<img src="{{ recipe.image }}" alt="{{ recipe.title }}" class="rounded float-right img-fluid recipe_img">
							</div>
						</div>
					</div>
				</div>
				<br/>

			{% endfor %}


		{% else %}
			<h2>No products currently available. Click <a href="{% url 'product_add' %}">here</a> to add products.</h2>
		{% endif %}


	{% else %}
		{% include 'no_access_without_login_info.html' %}
	{% endif %}
{% endblock %}
