{% extends 'base.html' %}
{% block content %}
    <script>
        function copyToClipboard(element) {
          var $temp = $("<input>");
          $("body").append($temp);
          $temp.val($(element).text()).select();
          document.execCommand("copy");
          $temp.remove();
          alert("Link has been copied!");
        }
    </script>
    {% if user.is_authenticated %}
        <br>
        <div class="card">
            <div class="card-header">
                <h3>Fridge <b>"{{ fridge.name }}"</b> details</h3>
            </div>
            <div class="card-body">
                <ul>
                    <li><b>Fridge ID:</b> {{ fridge.id }} </li>
                    <li><b>Fridge name:</b> {{ fridge.name }} </li>
                    <li><b>Creation date:</b> {{ fridge.created_date }} </li>
                    <li><b>Owners:</b>
                        {% for owner in fridge.owners.all %}
                        {{ owner.first_name }}
                        {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    </li>
                    <li><b>Description:</b>  {{ fridge.description }} </li>
                    <li>
                        <b>Invitation link:</b>
                        <p id="invitationLinkFridge">{{ fridge.invitation_link }}</p>
                        <button onclick="copyToClipboard('#invitationLinkFridge')" class="btn btn-info">Copy invitation link</button>
                    </li>
                    <br>
                    <a href="{% url 'fridge_update' fridge.id %}" class="btn btn-secondary">Update this fridge</a>
                </ul>
                <!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
        </div>
        <br/>
    {% else %}
        {% include 'no_access_without_login_info.html' %}
    {% endif %}
{% endblock %}