{% extends 'base.html' %}
{% block content %}
    {% if user.is_authenticated %}
        <center>
            <h1> Create fridge </h1>

            <br><br/>

            {% if submitted %}
                <div class="border border-success border-3">
                    <div class="card text-center">
                      <div class="card-header">
                          <h3>Your fridge was added successfully!</h3>
                      </div>
                      <div class="card-body">
                        <p class="card-text"><h5>Only you and users who you share the fridge with have access to this fridge.</h5></p>
                        <a href="{% url 'fridge_list' %}" class="btn btn-primary">See your fridges</a>
                      </div>
                    </div>
                </div>

            {% else %}

            <form action="" method=POST>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Create" class="btn btn-success">
            </form>

            {% endif %}
        </center>
    {% else %}
        {% include 'no_access_without_login_info.html' %}
    {% endif %}
{% endblock %}
