{% extends 'base.html' %}

{% block content %}
    <center>
        <h1> Add Product </h1>
        <br><br/>
        {% if submitted %}
            Your Product Was Added Successfully!
        {% else %}
            <form action="" method=POST>
                {% csrf_token %}
                {% for field in form %}
                    {{ field.label_tag }} {{ field }}
                <br/>
                {% endfor %}
                <input type="submit" value="Submit" class="btn btn-success">
            </form>
        {% endif %}
    </center>

{% endblock %}
