{% extends 'base.html' %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Details of product "{{ product.name }}":</h2>

            <div class="card">
              <div class="card-header">
                  <strong>{{ product.name }} </strong>
              </div>
              <div class="card-body">
                <ul>
                 <li>Creation date: {{ product.created_date }} </li>
                 <li>Owners: {{ product.owners.name }} </li>
                 <li>Description: {{ product.description }} </li>
                    <br>
                 <a href="{% url 'product_update' product.id %}" class="btn btn-secondary">Update this product</a>

                </ul>
                  <!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
              </div>
            </div>
        <br/>
    {% else %}
        {% include 'no_access_without_login_info.html' %}
    {% endif %}
{% endblock %}
