{% extends 'base.html' %}
{% block content %}
	{% if user.is_authenticated %}
		<h1>PRODUCTS PAGE</h1>
		{% if products|length > 1 %}
			<h2>Products:</h2>
			<h3>Number of products: {{ products|length }}</h3>
				{% for product in products %}
				<div class="card">
					<div class="card-header">
						<strong>{{ product.name }} </strong>
					</div>
					<div class="card-body">
						<ul>
							<li>Expiration date: {{ product.expire_date }} </li>
							<li>Amount: {{ product.amount }} </li>
							<li>Description: {{ product.description }} </li>
						</ul>
						<a href="{% url 'product_update' product.id %}" class="btn btn-primary">Update</a>
						<a href="{% url 'product_delete' product.id %}" class="btn btn-danger">Delete</a>
						<a href="{% url 'product_detail' product.id %}" class="btn btn-secondary">Detail</a>
					</div>
				</div>
				<br/>
				{% endfor %}
			<hr>
		{% include 'product/products_list_paginator.html' %}
		{% else %}
			<h2>No products currently available. Click <a href="{% url 'product_add' %}">here</a> to add products.</h2>
		{% endif %}
	{% else %}
		{% include 'no_access_without_login_info.html' %}
	{% endif %}
{% endblock %}
